<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>


<!--
  icono de la aplicación 
   <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" 
  title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"        
   title="Flaticon">www.flaticon.com</a></div> -->
   <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" 
    title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"      
     title="Flaticon">www.flaticon.com</a></div> -->
