<div *ngIf="showSplash" class="splash">
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
       
       
        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->



        <div *ngFor= "let p of appPages">
          <ion-menu-toggle *ngIf = "p.url">
             <ion-item [routerLink]="p.url" routerDirection = "root" routerLinkActive="active">
                <ion-icon color="primary" [name]="p.icon" slot="start"></ion-icon>
                  <ion-label>
                     {{p.title}}
                  </ion-label>
              </ion-item>
          </ion-menu-toggle>
 
          <!-- <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" 
            [class.active-parent] = "p.open" detail="false">
            <ion-icon color = "primary" slot="start" name = "arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon color = "danger" slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item> 



          <ion-list *ngIf="p.open">
              <ion-menu-toggle>
                  <ion-item class="sub-item" *ngFor="let sub of p.children" [routerLink]="sub.url" 
                  routerDirection = "root" routerLinkActive="active">
                     <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                       <ion-label>
                          {{sub.title}}
                       </ion-label>
                   </ion-item>
               </ion-menu-toggle>
          </ion-list> -->
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main id="content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<!--
  icono de la aplicación 
   <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" 
  title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"        
   title="Flaticon">www.flaticon.com</a></div> -->
   <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" 
    title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"      
     title="Flaticon">www.flaticon.com</a></div> -->
