.legend {
    background-color: #fff;
    border-radius: 10px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 11px;
    position: absolute;
    right: 10px;
    z-index: 1;
    }
     
    .legend h4 {
    margin: 0 0 10px;
    }
     
    .legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 22px;
    margin-right: 5px;
    width:22px;
    
}
.searchbar{
    position: absolute;
    z-index: 99999;
}



.leaflet-control-container .leaflet-routing-container-hide {
    display: none!important;
}

.position{
    position: absolute;
    z-index: 99999;
}