<ion-header>
  <ion-toolbar color = "primary">
      <ion-buttons slot="end" (click)= "close()">
          <!-- <ion-button>
            ¿Donde estoy?
          </ion-button> -->
          <ion-chip>
            <ion-icon name="close"></ion-icon>
            <ion-label>Cerrar</ion-label>
          </ion-chip>
        </ion-buttons>
    <ion-title>Colonia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="centrar">Adolfo Lopez Mateos</h4>
  <ion-card>
      <ion-card-header>
          <img src="https://images.sipse.com/v5-0Fvm4zUmTjPAWvPiJWrc92O4=/800x497/smart/imgs/032014/07031469823d2d7.jpg">
        <ion-card-title>Colonia Adolfo Lopez Mateos, Código Postal 77010, Chetumal, Q.R.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es una colonia añeja  situada en la ciudad de Chetumal con indice de delicuencia Alto.
        Se recomienda que al visitar esta Colonia se recorra con precaucion.
      </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <label>Horas de mayor incidente:</label> 
        </ion-card-header>
        <ion-card-content>
          <label>{{almacenaMientoCaribe.toString()}}</label>
        </ion-card-content>

        
        <ion-card-header>
          <label>Incidentes mas concurridos:</label>
      </ion-card-header>
      <ion-card-content>
        <label>{{resultIncidentesCaribe.toString()}}</label>
        <label>Tentativa de robo:   {{tentativaDeRobo_prote}}</label><br>
        <label>Otros casos relacionados con el patrimonio:    {{otrosActosRelacionadosP_Prote}}</label><br>
        <label>Robo a casa habitacion sin violencia:    {{roboCasaHabitacionSinViolencia}}</label><br>
        <!-- OTROS ACTOS RELACIONADOS CON EL PATRIMONIO
        -->
      </ion-card-content>


      <ion-card-header>
        <label>Total de denuncias:</label>
      </ion-card-header>
      <ion-card-content>
        <label>{{AdolfoLopezMateos}}</label>
      </ion-card-content>
    </ion-card>          
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-button (click)="presentModalAdolfoLopezMateos()" >
        <ion-icon style="zoom:1.5;" ios="ios-map" md="md-map"></ion-icon>
       </ion-button>
    </ion-buttons>
    Ver colonia
  </ion-toolbar>
</ion-footer>
