<ion-header>
  <ion-toolbar color = "primary">
      <ion-buttons slot="end" (click)= "close()">
          <!-- <ion-button>
            ¿Donde estoy?
          </ion-button> -->
          <ion-chip>
            <ion-icon name="close"></ion-icon>
            <ion-label>Cerrar</ion-label>
          </ion-chip>
        </ion-buttons>
    <ion-title>Colonia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   
      

  <h4 class="centrar">Payo Obispo</h4>
  <ion-card>
      <ion-card-header>
          <img src=" https://imaginary.casafy.com.br/pipeline?operations=[%7B%22operation%22:%22smartcrop%22,%22params%22:%7B%22width%22:570,%22height%22:428%7D%7D,%7B%22operation%22:%22resize%22,%22params%22:%7B%22width%22:570,%22height%22:428%7D%7D]&url=http://fotos.crminmobiliario.com/cliente/1706/fotosproductos/casa-sola-residencial-en-venta-en-colonia-jardines-de-payo-obispo-chetumal-1134.jpg">
        <ion-card-title>Colonia Payo Obispo, Código Postal 77083 , Chetumal, Q.R.</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es una colonia añeja  situada en la ciudad de Chetumal con indice de delicuencia Media.
        Se recomienda que al visitar esta Colonia se recorra con precaucion.
      </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <label>Horas de mayor incidente:</label> 
        </ion-card-header>
        <ion-card-content>
          <label>{{almacenaMientoCaribe.toString()}}</label>
        </ion-card-content>

        
        <ion-card-header>
          <label>Incidentes mas concurridos:</label>
      </ion-card-header>
      <ion-card-content>
        <label>{{resultIncidentesCaribe.toString()}}</label>
        <label>Tentativa de robo:   {{tentativaDeRobo_prote}}</label><br>
        <label>Robo a casa habitacion sin violencia:    {{roboCasaHabitacionSinViolencia}}</label><br>
        <label>Robo de vehiculo particular sin violencia: {{roboVehiculoPartiSinViolencia_prote}}</label>
        <!-- OTROS ACTOS RELACIONADOS CON EL PATRIMONIO
        -->
      </ion-card-content>


      <ion-card-header>
        <label>Total de denuncias:</label>
      </ion-card-header>
      <ion-card-content>
        <label>{{PayoObispo}}</label>
      </ion-card-content>
    </ion-card>          
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-button (click)="presentModalAdolfoLopezMateos()" >
        <ion-icon style="zoom:1.5;" ios="ios-map" md="md-map"></ion-icon>
       </ion-button>
    </ion-buttons>
    Ver colonia
  </ion-toolbar>
</ion-footer>
